body {
  background-color: black;
  color: white;
  overflow: hidden;
  font-family: Arial;
}

#rect {
  position: absolute;
  margin: auto;
  top: -60%;
  right: 0;
  bottom: 0;
  left: 0;
  width:600px;
  height:600px;
  border:10px solid white;
  overflow:hidden;
}

#circle {
  position: fixed;
  top: 70%;
  left: 90%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
}

#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#canvas {
  display:none;
}

.camera {
  width: 340px;
  display:inline-block;
}

.output {
  width: 340px;
  display:inline-block;
}

#finished {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 60px;
  top: 45%;
}

#text {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
  top: 45%;
}
